<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.szpansky.ajwon_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForPick.PickPerson"/>
        <activity android:name=".ForPick.PickItem"/>
        <activity android:name=".OpenAll.OpenAllCatalogsActivity" />
        <activity android:name=".OpenAll.OpenAllPersonsActivity" />
        <activity android:name=".OpenAll.OpenAllItemsActivity" />
        <activity android:name=".AddEdit.AddEditWorkActivity" />
        <activity android:name=".AddEdit.AddEditPersonActivity" />
        <activity android:name=".AddEdit.AddEditItemsActivity" />
        <activity android:name=".MainBrowsing.CatalogsActivity" />
        <activity android:name=".MainBrowsing.ClientsActivity" />
        <activity android:name=".MainBrowsing.OrdersActivity"></activity>
    </application>

</manifest>